{% extends "base.html" %}

{% block content %}

<div class="main-content">

    <div class="content-header">측정 데이터 등록</div>

    <div class="content-body">
        <div class="step-header">
            <h3 class="step-title">완료</h3>
            <div class="step-indicator">
                <span class="step-icon-checked"><i class="material-icons">done</i></span>
                <span class="step-line"></span>
                <span class="step-icon-checked"><i class="material-icons">done</i></span>
                <span class="step-line"></span>
                <span class="step-icon-checked"><i class="material-icons">done</i></span>
            </div>
        </div>

        <div class="main-section"">
            <p class="main-subtitle">
                선택한 데이터들이 DB에 성공적으로 저장됐습니다!<br><br>
                이제 '조회' 메뉴에서 데이터를 확인할 수 있습니다.
            </p>
        </div>
    </div>
</div>

{% endblock %}