<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>{%- block title -%}4Parchive{%- endblock -%}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{%- block extra_head -%}{%- endblock -%}
</head>
<body>
{%- block header -%}
<header class="header">
    <a href="/" class="header-logo">
        <span style="color: var(--main-color);">4P</span>archive
    </a>
    <nav class="header-nav">
        <a href="{{ url_for('meas.index_register') }}" class="header-nav-item" data-match-root="/measurement/register">등록</a>
        <a href="{{ url_for('meas.index_history') }}" class="header-nav-item" data-match-root="/measurement/history">조회</a>
    </nav>
</header>
{%- endblock -%}
{%- block content -%}{%- endblock -%}
{%- block script -%}
<script src="{{ url_for('static', filename='js/common.js') }}"></script>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
        // {% for message in messages %}
        alert("{{ messages[0] }}");
        // {% endfor %}
    </script>
    {% endif %}
{% endwith %}
{%- endblock -%}
{%- block extra_script -%}{%- endblock -%}
</body>
</html>